<app-app-container>
  <section class="row w-100">
    <section class="col-12 align-items-center app-banner bg-success text-white text-center rounded">
      <h2 class=""> Shoppeee App</h2>
      <p>Welcome to the number one online shopping platform!</p>
      <img class="rounded-circle" src="assets/images.png" alt="shop"/>
    </section>
  </section>
  <section class="col-12 text-center">
    <h3> Featured</h3>
    <section class="d-flex flex-row align-items-center justify-items-center">
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
    </section>
  </section>
</app-app-container>

