<nav class="navbar bg-white navbar-expand-lg app-navbar border border-bottom shadow fixed-top">
  <section class=" border border-dark rounded-circle p-2 bg-success text-white">SA</section>

  <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <a class="mx-1 p-1 app-link" routerLink="">Home</a>
      <a class="mx-1 p-1 app-link" routerLink="shop">Shop</a>
      <a class="mx-1 p-1 app-link" routerLink="contact">Contact</a>
    </ul>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
